<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Pig</title>
  </head>
  <body>
    {{#model}}
    <form class="" action="/pig/editpig/{{_id}}" method="post">
        <div>
          <label for="name">Name of Pig item</label>
          <input type="text" name="name" value="{{name}}">
        </div>
        <div>
          <label for="number">How many do you have?</label>
          <input type="tel" name="howMany" value="{{howMany}}">
        </div>
        <div>
          <label for="attributes">Attributes</label>
          <input type="text" name="attributes" value="">
        </div>
        <div>
          <label for="owner">Owned by</label>
          <input type="text" name="owner" value="">
        </div>
        <div>
          <label for="location">Location(state)</label>
          <input type="text" name="location" value="">
        </div>
        {{/model}}
        <div>
          <input type="submit" name="updatePig" value="Submit">
    </form>
  </body>
</html>
