<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>List</title>
</head>

<body>
  <h1>Welcome to Oink World!</h1>
  <h2>Share your pigs with us!</h2>

  <form class="addPig" action="/" method="post">
    </div>
    <div>
      <label for="name">Name of Pig item</label>
      <input type="text" name="name" value="">
    </div>
    <div>
      <label for="number">How many do you have?</label>
      <input type="tel" name="number" value="">
    </div>
    <div>
      <label for="size">How big?</label>
      <input type="text" name="size" value="">
    </div>
    <div>
      <label for="attributes">Attributes</label>
      <input type="text" name="attributes" value="">
    </div>
    <div>
      <label for="color">Color</label>
      <input type="text" name="color" value="">
    </div>
    <div>
      <label for="owner">Owned by</label>
      <input type="text" name="owner" value="">
    </div>
    <div>
      <label for="yearsOwned">Years owned</label>
      <input type="tel" name="yearsOwned" value="">
    </div>
    <div>
      <input type="submit" name="updatePig" value="Submit">
  </form>

  {{#model}}
    <h2>That's Some Pig:</h3>
      <div class="">
        Name: {{name}}, How Many: {{howMany}}
      </div>
      <div>
        Size: {{size}}
      </div>
      <div>
        Attributes: <ul>

          {{#attributes}}
          <li>{{.}}</li>
          {{/attributes}}
        </ul>
      </div>
      <div>
        Color: {{color}}
      </div>
      <div>
        {{#owners}}
        Owned by: <ul>

          <li>{{ownerName}}, Years owned: {{howLongOwned}}</li>

        </ul>
        {{/owners}}
      </div>
    {{/model}}
  </body>
</html>
