<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>List</title>
</head>

<body>
  <h1>Welcome to Oink World!</h1>
  <h2>Share your pigs with us!</h2>

  <form class="addPig" action="/pig/list" method="post">

    <div>
      <label for="name">Name of Pig item</label>
      <input type="text" name="name" value="">
    </div>
    <div>
      <label for="number">How many do you have?</label>
      <input type="tel" name="howMany" value="">
    </div>
    <div>
      <input type="submit" name="" value="Add to the list">
    </div>
  </form>

  {{#model}}
    <form class="update" action="/pig/editpig/{{_id}}" method="get">
      <h2>That's Some Pig:</h3>
      <div>
        Name: {{name}}
      </div>
        <div>
         Number owned: {{howMany}}
      </div>
      <div>
        Characteristics:
        {{#attributes}}
       <ul>
         <li>{{.}}</li>
       </ul>
        {{/attributes}}
      </div>

     <div>
   Owner(s):
     {{#owners}}

<ul>
  <li>{{ownerName}} from {{location}}</li>
</ul>


     {{/owners}}
   </div>

      <input type="submit" name="" value="Edit">
</form>
<form class="update" action="/pig/deletepig/{{_id}}" method="post">
  <input type="submit" name="" value="Delete" id="{{_id}}">
</form>

    {{/model}}
  </body>
</html>
